<div class="bg-[#E6E9F2]">
  <div class="list">
    <app-job-card
      *ngFor="let job of (jobs$ | async)"
      [job]="job"
    ></app-job-card>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21215.0670496224!2d29.852941034140485!3d48.34354683393443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cdc26f05b8eadd%3A0xa706f290acfcaa46!2sPrivatbank!5e0!3m2!1sen!2sua!4v1668164595544!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
